@import './index.css';

html, body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(#506a59, var(--background0));
  text-align: center;
  transition: 0.3s ease;
  color: white;
  overflow-x: hidden;
  font-family: "Oxygen";
}
h1 {
  font-family: "figtree", sans-serif;
  margin-bottom: 0;
  padding-bottom: 0;
}
h2 {
  font-family: "figtree", sans-serif;
  font-size: 1.4em;
}
h3 {
  text-align: center;
}
h4 {
  margin-top: 0;
  padding-top: 2px;
  font-weight: light;
  font-style: italic;
  color: #a6cb80
}
h5 {
  text-align: left;
  margin: 0;
  padding: 0;
}
footer {
  background-color: var(--cherry);
  color: var(--text-invert);
  text-align: center;
  padding: 20px;
}
footer button {
  color: var(--text-invert);
}
button {
  background-color: transparent;
  border: none;
}
.header {
  background-color: var(--cherry);
  opacity: 95%;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

button.go {
  background-color: #4e4d82;
  padding: 10px;
  border-radius: 10px;
  color: white;
  box-shadow: 0px 0px 5px #1a2c24;
  border: 1px solid #383975;
}
button.go:hover {
  background-color: #474185;
}
select {
  background-color: #324245;
  padding: 5px;
  border-radius: 6px;;
  border: none;
  color: var(--text);
  font-size: medium;
  margin: 5px;
}
button:active {
  transform: scale(0.95);
}
a {
  color: white;
  font-size: 1em;
}
a:hover {

}