@import './index.css';

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--background0);
  text-align: center;
  transition: 0.3s ease;
  color: white;
  overflow-x: hidden;
}

footer {
  background-color: var(--cherry);
  color: var(--text-invert);
  text-align: center;
  padding: 20px;
}
footer button {
  color: var(--text-invert);
}
button {
  background-color: transparent;
  border: none;
}

input[type="range"] {
  accent-color: var(--accent0);
}

.header {
  background-color: var(--cherry);
  opacity: 95%;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

button.go {
  background-color: var(--accent1);
  padding: 10px;
  border-radius: 10px;
}