@import './index.css';

.left, .right {
  background-color: var(--background1);
  padding: 20px;
  margin: 0;
}
.middle {
  background-color: transparent;
  margin: 0;
}
.col {
  border-radius: 10px;

}

.slider-container {
  display: flex;
}
.slider-container input[type="range"] {
  width: 80%;
  background-color: transparent;
}
.slider-container p {
  width: 15%;
}