@media (width <= 768px) {
  .left {
    width: 90vw;
  }
  .middle {
    width: 90vw;
  }
  .right {
    width: 90vw;
  }
}
@media (width > 768px) {
  .left {
    width: 15vw;
  }
  .middle {
    width: 50vw;
  }
  .right {
    width: 20vw;
  }
}

.container {
  display: flex;
  padding: 2%;
  gap: 2%;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}

.col {
  border-radius: 10px;
}
.left:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 10px #303030;
}

.left {
  background-color: var(--background1);
  padding: 20px;
  transition: 0.4s ease;
  border: 1px solid #a6c8b0;
}
.middle, .right {
  background-color: transparent;
}
.col {
  margin: 0;
  border-radius: 10px;

}

.slider-container {
  display: flex;
}
.slider-container input[type="range"] {
  width: 80%;
  background-color: transparent;
}
.slider-container p {
  width: 15%;
}