@media (width <= 768px) {
  .left {
    width: 90vw;
  }
  .middle {
    width: 90vw;
  }
  .right {
    width: 90vw;
  }
}
@media (width > 768px) {
  .left {
    width: 15vw;
  }
  .middle {
    width: 50vw;
  }
  .right {
    width: 20vw;
  }
}

.container {
  display: flex;
  padding: 2%;
  gap: 2%;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}

.col {
  border-radius: 10px;
}